<!DOCTYPE html>
<html>
    {{template "head" .}}
    <body>
        <div class="container">
            <div class="row">
                {{template "header" .}}
            </div>
            <div class="row content">
                <h3>What Is SPLST?</h3>
                <p>SPLST is a side-projects' list and it aims to organize <a href="http://en.wikipedia.org/wiki/Hacker_%28programmer_subculture%29">hackers'</a> side-projects in a one centralized place. Anyone can submit any number of side-projects at anytime.</p>
                <h3>Why having a side project is important?</h3>
                <p>With a side project you can learn something new, and you can get your name out there. Please read <a href="https://speakerdeck.com/sachag/side-projects">Side Projects</a> by Sacha Greif and <a href="http://rawsyntax.com/blog/importance-of-side-projects/">Importance of side projects</a> by Eric Himmelreich.</p>
                <h3>How SPLST can help me?</h3>
                <p>SPLST is a good place to promote your side project, people can easily find your project and vote or follow your side project. You can receive feedbacks from your users immediately. You can see others side projects and get inspired by them. Sometimes you can submit a landing page here and receive feedbacks even before you start implementing a thing.</p>
            </div>
        </div>
        {{template "scripts"}}
    </body>
</html>
