{{define "header"}}
    <header class="splst-unit">
        <hgroup>
            <h1><a href="/">Splst</a></h1>
            <p>Directory of side projects</p>
        </hgroup>
    </header>
    <ul class="breadcrumb splst-breadcrumb">
        <li><a href="/most-popular">Most popular projects</a><span class="divider">/</span></li>
        <li><a href="/recent">Recent projects</a><span class="divider">/</span></li>
        <li class="pull-right upload"><span class="divider">/</span><b><a id="add-project-link" class="add-project" href="#">Add +</a></b></li>
    </ul>
{{end}}
