<!DOCTYPE html>
<html>
    {{template "head"}}
    <body>
        <div class="container">
            <div class="row">
                {{template "header"}}
            </div>
            <div class="row">
                <div id="add-project-container" style="display:none;">
                    <form class="form-horizontal" id="add-project">
                        <div class="control-group">
                            <label class="control-label" for="project-name">Project Name</label>
                            <div class="controls">
                                <input type="text" name="project-name" id="project-name" placeholder="Project Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="project-url">Project URL</label>
                            <div class="controls">
                                <input type="url" name="project-url" id="project-url" placeholder="Project URL">
                                <span class="help-inline">Must be a fully qualified URL that includes <b>http://</b> or <b>https://</b></span>
                            </div>
                        </div>
                        <div class="controls">
                            <button type="submit" class="btn btn-success" id="add">Add</button>
                            <button type="button" class="btn add-project">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <ul id="to-upload-splsts" class="thumbnails" style="position: relative;"></ul>
            </div>
        </div>
        <script src="static/js/min/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="static/js/min/jquery.wookmark.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#to-upload-splsts li').wookmark({container: $('#to-upload-splsts'), autoResize: true});
            });

            $(function() {
                $('.add-project').click(function() {
                    if ($('#add-project-container').is(':hidden')) {
                        $('#add-project-container').slideDown('fast');
                        $('#project-name').focus();
                    } else {
                        $('#add-project-container').slideUp('fast');
                    }
                });

                $('#add-project').submit(function() {
                    $.post('add-project', $(this).serializeArray(), function(result) {
                        // check the result
                    });

                    return false;
                });
            });
        </script>
    </body>
</html>
