<!DOCTYPE html>
<html>
    {{template "head" .}}
    <body>
        <div class="container">
            <div class="row">
                {{template "header" .}}
            </div>
            <div class="row content">
                <h3>Our privacy policy</h3>
                <p>
                SPLST does not share personal information of any kind with anyone. We will not sell or rent your name or personal information to any third party. We DO NOT sell, rent or provide outside access to our mailing list or any data we store. Any data that a user stores via our facilities is wholly owned by that user or business. At any time a user or business is free to take their data and leave, or to simply delete their data from our facilities.</p>
                <h3>Policy changes</h3>
                <p>If we change our privacy policy we will post those changes on this page. Registered users will be sent an email that outlines changes made to the privacy policy.</p>
                <strong>Last updated:</strong> January 18th, 2013
            </div>
        </div>
        {{template "scripts"}}
    </body>
</html>
